.error-404-main-container {
  height: 89vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.error-404-content-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.error-404-button {
  height: 40px;
  width: 250px;
  border: none;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  color: white;
  background-color: #d14f90;
  cursor: pointer;
}

.error-404-button:hover {
  background-color: #c9357f;
}
